/* Calculator */
body {
  font-family: Arial, George, sans-serif;
  font-size: 18px;
}

h1 {
	text-align: center; 
	font-size: 40px; 
	font-weight: bold;
}

input {
	border: 3px solid #000;
	margin-top: 20px;
	font-size: 22px;
	font-weight: bold;
	background-color: #bbb;
	color: #000;
}

button {
	height: 50px;
	width: 50px;
	margin: 10px 5px;
	box-shadow: inset 2px 2px 40px #0066ff;
	border: none !important;
}

/* Container */
.container {
	margin-top: 60px;
	margin-left: 0px; 
}

/* All Clear */
#allClear {
  	box-shadow: inset 2px 2px 40px  #990000;
  	border: none;
}

/* Equals */
#equals{
  	box-shadow: inset 2px 2px 40px #006633;
  	border: none;
}
